
<div id="error_message" class="ui floating negative message" style="display: none">
    <div class="header"></div>
    <p class="message"></p>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default  custom bor" data-toggle="modal" data-target="#myModal" (click)="plsremaning()">Create PLS</button>
        <!-- <button type="button" *ngIf = 'annotations' class="btn btn-default" (click)="checkingForBadAnnotation()">Create PLS</button> -->
<button type="button" class="btn btn-default bor" (click)="saveLater(annotations)">Save For Later</button>
<button type="button" class="btn btn-default bor custom" data-toggle="modal" data-target="#myModal" (click)="discard()">Discard</button>
    </div>

</div>
<!-- <button class="btn btn-primary custom" (click)="annotatedDataSubmit(item)"></button> -->
<!-- <div class="alert alert-success " role="alert" *ngIf="showMsg">
   
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div> -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>
      <div class="modal-body">
        <p *ngIf= "Object.keys(result1).length > 0" class="capitalize">{{this.configObj.plsCreationMsg}} {{Object.keys(result1).length > 0 ? "without " : ""}}   <ng-container *ngFor="let key of Object.keys(result1) let last = last let i = index">
            <span>{{key}}{{last ? '?' : ', '}} </span>
        </ng-container></p>
        
            <p *ngIf= "Object.keys(result2).length == 4 && Object.keys(result1).length == 0 " class="capitalize">{{this.configObj.plsCreationMsg}}?
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="annotatedDataSubmit(annotations)">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePlsRemaning()">Close</button>
      </div>
    </div>
    
  </div>
</div>


<div class="ui grid container bodypart">
    <div class="two column row">
        <!--Saved Annotations-->
        <div class="col-md-3 left">
            <div class="ui fluid card width">
                <div class="content">
                    <!--Header-->
                    <h5 class="ui header">
                        <i class="green color tags icon"></i>
                        <div class="content">
                            Saved Annotations
                          
                            <div *ngFor="let item of annotations | keyvalue" class="bord">
                                   <a class="ui {{item.value[0].color}} ribbon label">{{item.key}}</a>
                                <ng-container *ngFor="let x of item?.value">
                                    <div class="ui raised segment ell">
                                        <div class="fluid ui button" (click)="test3(x.id)">Delete</div>
                                
                                        <p class="p-around_small ">{{x.notes}}</p>
                                
                                        
                                    </div>
                                </ng-container> 
                                </div> 

                           
                        </div>
                    </h5>
                    <!--Annotations List-->
                    
                </div>
            </div>
        </div>
        <!--Transcript-->
        <div class="col-md-8">
            <div class="ui fluid card width1">
                <div class="content">
                    <!--Header-->
                  
                    <!--Feed-->
                    <div class="ui feed">
                      
                        <div class="event">
                            
                            <div class="content load">
                               
                                <div class="example text" id="last" [innerHtml]="innerhtml" spellcheck="false" readonly>
                                 
                                </div>
                                <div *ngIf="!innerhtml && timer " class="loading">
                                    
                                    <span class="loading-message">{{this.configObj.pdfToDocxConversion}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Annotator Popover Contents-->
<div id="annotate_settings" class="ui form raised customposition segments" style="display: none">
    <!--Notes-->
  
    <!--Tags-->
    <div class="p-around_small m-bottom_medium">
        <div class="ui dropdown labeled icon fluid button">
            <i class="tag icon"></i>
            <span class="text">Target PLS Section</span>
            <div class="menu">
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search tags...">
                </div>
                <div class="divider"></div>
                <div class="header">
                    <i class="tags icon"></i>
                    Tag Label
                </div>
                <div class="scrolling menu" *ngIf ="groupeddata">
                      <ng-container *ngFor="let key of Object.keys(groupeddata)"> 
                        
                    <div [attr.name]="key" class="item" >
                        <div class="ui orange empty circular label"></div>
                        {{key}}
                      <ul *ngFor="let val of groupeddata[key]">
                          <li> {{val.text }}</li>
                      
                      </ul> 
                    </div>
                    </ng-container>
            
                <!-- <div *ngFor="let key of Object.keys(groupeddata)">
                    <p>{{key}}  </p>
                    <div *ngFor="let val of groupeddata[key]">
                  {{val.text }}
                    </div>
                  </div> -->
                <!-- <div *ngFor="let item of groupeddata | keyvalue">
                    Key: <b>{{item.key}}</b> and Value: 
                </div>
                hello -->

                 
                   
                </div>
            </div>
        </div>
    </div>
    <!--Action Buttons-->
    <div class="field p-around_small m-bottom_medium">
        <button class="ui right floated olive button" (click)="test1()">Save</button>
        <button class="ui left floated button" (click)="test2()">Cancel</button>
    </div>
    <!--Placeholder-->
    <div class="field p-around_small m-bottom_medium">
    </div>
    <!--Arrow-->
    <div id="arrow" data-popper-arrow></div>
</div>
<!--Footer-->

<!--Backdrop-->
<div class="ui dimmer page active backdrop" style="display: none"></div>


